body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 20px;
}

.contact-field {
  display: flex;
  width: 100%;
  margin-top: 10px;
}  
.contact-field label {
  width: 200px;
}

.contact-field input, .contact-field  textarea {
  width: 100%;
}

.contact-field input {
  height: 40px;
} 

.contact-field  textarea {
  height: 80px;
}

.contact-form button {
  width: 120px;
  margin-top: 10px;
  flex-direction: row-reverse;
}

.counter-wrapper {
  display: flex;
  flex-direction: column;
}

.counter-wrapper > div {
  padding: 20px;
}

.counter-wrapper .red {
  background-color: red;
}

.counter-wrapper .green{
  background-color: green;
}

.counter-wrapper .blue {
  background-color: blue;
}

